<center><img src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/05/e7/67/05e76784-3364-b535-7e20-b3f4946a56b6/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/434x0w.webp" style="height:150px"></center>


# Introduction

Vous disposez d'un jeu de données décrivant des accidents de la route ayant eu lieu en janvier 2022. Ce jeu de données a été corrompu et vous devez vous débrouiller pour le réparer.


# Données

Vous disposez de deux jeux de données : 
* **`"accidents.csv"`** : Les données décrivant les conditions de l'accident.
* **`"vehicules.csv"`** : Les données décrivant les véhicules impliqués dans l'accident.

Voici une description de chaque champ présent dans ces fichiers:

**`"accidents.csv"`**:

* **`"Num_acc"`** : Identifiant unique de l'accident.
* **`"Date"`** : Date et heure de l'accident.
* **`"Conditions Lumineuses"`** : Si l'accident a eu lieu en journée ou pendant la nuit.
* **`"Conditions Atmosphériques"`** : Si l'accident a eu lieu sous la pluie ou en temps normal.
* **`"Etat Surface"`** : Si la surface de la route où a eu lieu l'accident était mouillée ou sèche.
* **`"Catégorie Route"`** : La catégorie de la route où l'accident s'est produit ("Voie Communale", "Route Nationale", "Route Départementale", "Autoroute").
* **`"Vitesse Maximale Autorisée"`** : La vitesse maximale autorisée sur la route où a eu lieu l'accident (30, 50, ... , 130).
* **`"Type Collision"`** : Comment les véhicules se sont percutés ("Par l'arrière", "Par le côté", "Frontale", "Autre").
* **`"Nombre Véhicules Impliqués"`** : Le nombre de véhicules impliqués dans l'accident.
* **`"Nombre Usagers Impliqués"`** : Le nombre de passagers présents dans les véhicules impliqués dans l'accident.
* **`"Gravité"`** : Vaut 1 s'il y a eu au moins une personne blessée à l'issue de l'accident, 0 si tout le monde s'en est sortie indemne.

**`"vehicules.csv"`**:

* **`"Num_acc"`** : Identifiant unique de l'accident.
* **`"Catégorie du véhicule"`** : La catégorie du véhicule impliqué dans l'accident ("Véhicule Léger", "Véhicule Utilitaire", "Motocyclette" ou "Byciclette").
* **`"Point de choc"`** : Le point d'impact sur le véhicule ("Avant", "Côté Gauche", "Côté Droit" ou "Arrière").
* **`"Nombre de passagers"`** : Le nombre de passagers présents dans le véhicule au moment de l'accident.
* **`"Obstacle heurté"`** : L'obstacle ou l'élément heurté lors de l'accident ("Véhicule", "Fossé", "Batiment ou Mobilier urbain" ou "Glissière").


# Objectif

À l'aide de vos compétences logiques et analytiques, vous devrez comprendre le contenu des données fournies et trouver des méthodes pour remplir les valeurs manquantes.

**Vous devrez nous remettre un fichier csv dont la structure est identique à celle du fichier `"accidents.csv"` et où vous aurez rempli les valeurs manquantes avec des valeurs appropriées.**

**À vous de jouer!**

In [4]:
import pandas as pd

accidents = pd.read_csv("accidents.csv")
vehicules = pd.read_csv("vehicules.csv")

In [52]:
accidents.head()

,Num_acc,Date,Conditions Lumineuses,Conditions Atmosphériques,Etat Surface,Catégorie Route,Vitesse Maximale Autorisée,Type Collision,Nombre Véhicules Impliqués,Nombre Usagers Impliqués,Gravité
0,0,2022-01-06 03:39:36,Nuit,Normal,Sec,NaN,80.0,Frontale,2.0,2.0,NaN
1,1,2022-01-04 05:36:20,Nuit,Pluie,Mouillé,Voie Communale,NaN,Par le coté,2.0,6.0,0.0
2,2,2022-01-13 16:38:18,Jour,Normal,Sec,Route Départementale,NaN,Par le coté,NaN,NaN,0.0
3,3,2022-01-22 18:07:11,Nuit,Normal,NaN,Voie Communale,NaN,Par le coté,2.0,6.0,0.0
4,4,2022-01-10 07:43:14,Nuit,Normal,NaN,Route Départementale,80.0,NaN,1.0,1.0,NaN

In [30]:
vehicules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17393 entries, 0 to 17392
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Num_acc                17393 non-null  int64
 1   Catégorie du véhicule  17393 non-null  object
 2   Point de choc          17393 non-null  object
 3   Nombre de passagers    17393 non-null  int64
 4   Obstacle heurté        17393 non-null  object
dtypes: int64(2), object(3)
memory usage: 679.5+ KB

In [69]:
conditions_jour = accidents['Conditions Lumineuses'] == 'Jour'

conditions_nuit = accidents['Conditions Lumineuses'] == 'Nuit'
accidents['Date'] = pd.to_datetime(accidents['Date'])

accidents["time"] = accidents["Date"].dt.hour 
cc = accidents[conditions_jour]

jour_min = cc["time"].min()
jour_max = cc["time"].max()

cc = accidents[conditions_nuit]

nuit_min = cc["time"].min()
nuit_max = cc["time"].max()

print("jour_min : ",jour_min)
print("jour_max : ",jour_max)

print("nuit_min : ",nuit_min)
print("nuit_max : ",nuit_max)

jour_min :  8
jour_max :  17
nuit_min :  0
nuit_max :  23

In [53]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Num_acc                     10000 non-null  int64
 1   Date                        10000 non-null  object
 2   Conditions Lumineuses       7000 non-null   object
 3   Conditions Atmosphériques   7000 non-null   object
 4   Etat Surface                7000 non-null   object
 5   Catégorie Route             7000 non-null   object
 6   Vitesse Maximale Autorisée  7000 non-null   float64
 7   Type Collision              7000 non-null   object
 8   Nombre Véhicules Impliqués  7000 non-null   float64
 9   Nombre Usagers Impliqués    7000 non-null   float64
 10  Gravité                     7000 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 859.5+ KB

In [72]:
accidents['Date'] = pd.to_datetime(accidents['Date'])

accidents["time"] = accidents["Date"].dt.hour 

def remplace_condition_lumineuses(x):
    if 8 <= x <= 17:
        return 'Jour'
    elif 18 <= x <= 23 or 0 <= x < 8:
        return 'Nuit'
    else:
        return None



# Utiliser une lambda function pour remplacer les NaN dans 'conditions_lumineuses'
accidents['Conditions Lumineuses'].fillna(accidents["time"].apply(remplace_condition_lumineuses), inplace=True)

accidents.drop(columns=["time"], inplace=True)

accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Num_acc                     10000 non-null  int64
 1   Date                        10000 non-null  datetime64[ns]
 2   Conditions Lumineuses       10000 non-null  object
 3   Conditions Atmosphériques   7000 non-null   object
 4   Etat Surface                7000 non-null   object
 5   Catégorie Route             7000 non-null   object
 6   Vitesse Maximale Autorisée  7000 non-null   float64
 7   Type Collision              7000 non-null   object
 8   Nombre Véhicules Impliqués  7000 non-null   float64
 9   Nombre Usagers Impliqués    7000 non-null   float64
 10  Gravité                     7000 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 859.5+ KB

In [55]:
accidents.head()

,Num_acc,Date,Conditions Lumineuses,Conditions Atmosphériques,Etat Surface,Catégorie Route,Vitesse Maximale Autorisée,Type Collision,Nombre Véhicules Impliqués,Nombre Usagers Impliqués,Gravité,time
0,0,2022-01-06 03:39:36,Nuit,Normal,Sec,NaN,80.0,Frontale,2.0,2.0,NaN,3
1,1,2022-01-04 05:36:20,Nuit,Pluie,Mouillé,Voie Communale,NaN,Par le coté,2.0,6.0,0.0,5
2,2,2022-01-13 16:38:18,Jour,Normal,Sec,Route Départementale,NaN,Par le coté,NaN,NaN,0.0,16
3,3,2022-01-22 18:07:11,Nuit,Normal,NaN,Voie Communale,NaN,Par le coté,2.0,6.0,0.0,18
4,4,2022-01-10 07:43:14,Nuit,Normal,NaN,Route Départementale,80.0,NaN,1.0,1.0,NaN,7

In [5]:
## Pour remplir la colonne vitesse max autorisée:


vitesses = accidents[accidents["Catégorie Route"].notnull()][["Catégorie Route", "Vitesse Maximale Autorisée"]].drop_duplicates()
vitesses.dropna(inplace=True)

print(vitesses)

def replacing_function(x):
    if x == "Autoroute":
        return 130
    elif x == "Route Nationale":
        return 100
    elif x == "Route Départementale":
        return 75
    elif x == "Voie Communale":
        return (30+50)/2
    else:
        return None

accidents["Vitesse Maximale Autorisée"] = accidents["Catégorie Route"].apply(replacing_function)
accidents.head()

          Catégorie Route  Vitesse Maximale Autorisée
4    Route Départementale                        80.0
15         Voie Communale                        30.0
17         Voie Communale                        50.0
19              Autoroute                       130.0
24   Route Départementale                        70.0
176       Route Nationale                        90.0
203       Route Nationale                       110.0

,Num_acc,Date,Conditions Lumineuses,Conditions Atmosphériques,Etat Surface,Catégorie Route,Vitesse Maximale Autorisée,Type Collision,Nombre Véhicules Impliqués,Nombre Usagers Impliqués,Gravité
0,0,2022-01-06 03:39:36,Nuit,Normal,Sec,NaN,NaN,Frontale,2.0,2.0,NaN
1,1,2022-01-04 05:36:20,Nuit,Pluie,Mouillé,Voie Communale,40.0,Par le coté,2.0,6.0,0.0
2,2,2022-01-13 16:38:18,Jour,Normal,Sec,Route Départementale,75.0,Par le coté,NaN,NaN,0.0
3,3,2022-01-22 18:07:11,Nuit,Normal,NaN,Voie Communale,40.0,Par le coté,2.0,6.0,0.0
4,4,2022-01-10 07:43:14,Nuit,Normal,NaN,Route Départementale,75.0,NaN,1.0,1.0,NaN

In [9]:

vehicules.groupby("Num_Acc").count()

KeyError: 'Num_Acc'