<center><img src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/05/e7/67/05e76784-3364-b535-7e20-b3f4946a56b6/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/434x0w.webp" style="height:150px"></center>


## <p style="text-align:center"><span style="color:blue">Pandas for Data Processing - Introduction </span></p>

**Authors** : Saad LABRIJI, Pierre ADEIKALAM

In this practical **hands-on training notebook**, we will explore the versatile **pandas** library, a powerful tool for data analysis and preprocessing.

**Pandas** offers a wide range of features and capabilities for data manipulation, including:
- High-performance, user-friendly data structures.
- Effective data analysis tools.
- The central data structure, the **DataFrame**, resembling an in-memory 2D table akin to a spreadsheet, complete with column names and row labels.
- Programmatic access to Excel-like functionalities such as pivot tables, calculated columns, graph plotting, and more.
- The ability to group rows by column values and perform table joins, similar to **SQL** operations.
- Strong support for handling time series data.

Do the exercises in order and if you need to see the solution, check the notebook "Pandas_Introduction_Solution".

# Part 1 : Data Exploration

The first step to working with pandas is to import it using the `import` command.

* Run the cell below to import `pandas` under the alias `pd`.

In [1]:
import pandas as pd

### Loading Data

We need to import some data to work with. To this end, we use the **`pd.read_csv`** function to import data that are contained in a **CSV file**.

**CSV** stands for **C**omma-**S**eparated **V**alues, and is a very common standard for writing data. Each row of the CSV file contains a row of data where each value is separated by a comma.

Usually, the first row of a CSV file contains the column names. This row is named the **header**.

Here is an example of a CSV file:

```
id,first_name,last_name,age
0,Daniel,Rickman,18
1,Alan,Wake,38
2,Niko,Bellic,47
```

The file contains 3 rows of data, with the columns `id`, `first_name`, `last_name` and `age`.

In order to read a CSV file and load its data, the `pd.read_csv` function needs to be used as follows:

```py
df = pd.read_csv("filename.csv", args...)
```

The first argument of the function is always the name of the file containing the data you want to import. If the data loading is successful, then the data will be stored in the variable **`df`**. The `args` are additional arguments that you may need to add to import data correctly. For example:

```py
df = pd.read_csv("filename.csv", sep = ';')
```

We might want to use the **`sep`** argument when the values in the CSV file are not separated by a comma but by some other character. In France, it is common that values are separated by **`';'`** because French people write decimals with a comma instead of a dot.

To see a full list of the parameters of the `pd.read_csv` function, you may [read its documentation here](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).

* Import the data contained in the file **`"first_csv_example.csv"`** into a variable named **`df`**. The separating character that should be used is **`':'`**.

In [2]:
# Insert your code here
df = pd.read_csv("first_csv_example.csv", sep=":")

Once you have run this function, you may inspect the first rows of your data using the **`head`** method of **`df`**:

```py
df.head()
```

* Run the cell below to display the first 5 rows of **`df`**.

In [3]:
df.head()

   id first_name last_name  age
0   0     Daniel   Rickman   18
1   1       Alan      Wake   38
2   2       Niko    Bellic   47

The object `df` is an instance of the **`DataFrame`** class. `DataFrames` behave much like arrays but they are much more than that as the `DataFrame` class will allow us to perform all kinds of transformations and manipulation to our data thanks to its useful methods. 

### `DataFrame` indexing

We refer to indexing as the act of selecting a specific row or column of some array of data. 

Selecting a column with a pandas `DataFrame` is usually done by using **`brackets`** and specifying the name of the column we want to retrieve. For example:

```py
# Select the "first_name" column
df["first_name"]

# Select the "age" column
df["age"]

# We can select multiple columns at once by passing a list of strings inside the brackets
df[["first_name", "age"]]
```

If we want to select values using the row or column number, we need to use the **`iloc`** indexer. Indeed, **`.iloc`** is used for **integer-based** indexing as follows:

```py
# Select the whole first row
df.iloc[0]

# Select the whole last row
df.iloc[-1]

# Select the value in the first row and second column
df.iloc[0, 1]

# Select the second value of the first and third row
df.iloc[[0, 2], 1]

# Select the whole second column
df.iloc[:, 1]
```

We will come back to define what `:` does later. For now, suppose it serves as a way to select many values at once.

Another way of selecting values is to use **label-based** indexing (as opposed to **integer-based** indexing). 

The columns of a `DataFrame` are labelled with their column names. In the previous example, the label of the first column is **`"first_name"`**.

Rows of a `DataFrame` are also labelled. By default, they are labelled using integers starting from 0, but they can be labelled using anything else. 

In order to access a value using the label of its row and its column, we need to use the **.loc** indexing method.

```py
# Select the whole first row
df.loc[0] # same as iloc if the row labels are numbers

# The following will not work because no row is labelled "-1".
df.loc[-1] # -> Will generate an error

# Select the value in the first row and second column
df.loc[0, "first_name"]

# Select the "last_name" value of the first and third row
df.loc[[0, 2], "last_name"]

# Select the whole second column
df.loc[:, "first_name"]
```

As an exercise, do the following:

* Import the data contained in the **`"indexing_exercise.csv"`**.

* Select the `"age"` column.
* Select the last row using `iloc` indexing.
* Select the value in the second row and `"last_name"` column using `loc` indexing.
* Select the `"first_name"` and `"city"` columns for the first and third rows using `loc` indexing.
* Select the values in the third column using `iloc` indexing.

In [11]:
# Insert your code here
df = pd.read_csv("indexing_exercise.csv")

age = df["age"]

last_row = df.iloc[-1]

Emily

### Statistics

Statistics are useful to understand the content of your data and generate insights. In this section we will cover the basic statistical functions provided by pandas, such as mean, standard deviation, minimum, maximum and more. Let's get started!

The mean is a commonly used statistic that represents the average value of a set of numbers. In pandas, you can compute the mean using the `.mean()` method after selecting a column you want to compute the mean on. Here's an example:

```py
# Compute the mean of the "age" column
df["age"].mean()
>>> 34.333333333333336
```

The standard deviation measures the spread or variability of a set of numbers. In pandas, you can calculate the standard deviation using the `.std()` method

```py
# Compute the standard deviation of the "age" column
df["age"].std()
>>> 14.843629385474879
```

Pandas provides additional statistical functions that can be useful in data analysis. Some of these functions include:

* `.count()`: Computes the number of elements in a column.
* `.max()` / `.min()` : Compute the minimum and maximum values of a column.
* `.sum()`: Computes the sum of values in a column.
* `.median()`: Computes the median of a column.
* `.mode()`: Computes the mode of a column, i.e. the most frequent value.

In the **`"student_grades.csv"`** file, you will find a dataset containing information about students' exam scores in two subjects, Math and English.

Using the methods you have seen up till now:

* Load the data contained in the CSV file.
* Count the number of students. 
* Calculate the mean score for each subject (Math and English).
* Determine the maximum score in Math.
* Find the minimum score in English.
* Compute the standard deviation of scores for each subject.
* Calculate the grand total of all the scores.

In [ ]:
# Insert your code here

# Part 2 : Data Transformation

### Adding and removing columns

To add a new column to a pandas DataFrame, you can assign a new column name to an expression or a list of values. Run the following cell to see an example:

In [12]:
df = pd.read_csv("first_csv_example.csv", sep = ':')

# Add a new column 'City' with a single value
df['City'] = 'New York'

df

   id first_name last_name  age      City
0   0     Daniel   Rickman   18  New York
1   1       Alan      Wake   38  New York
2   2       Niko    Bellic   47  New York

You can also add a new column to a DataFrame based on existing columns. This is useful for performing calculations or transformations.

In [13]:
# Add a new column 'Birth Year' based on 'Age' column
df['Birth Year'] = 2023 - df['age']

df

   id first_name last_name  age      City  Birth Year
0   0     Daniel   Rickman   18  New York        2005
1   1       Alan      Wake   38  New York        1985
2   2       Niko    Bellic   47  New York        1976

To remove a column from a pandas DataFrame, you can use the **`.drop()`** method. **You need to specify the column name and set the axis parameter to 1** to let pandas know the label you are trying to remove is a column and not a row.

In [14]:
# Remove the 'City' column
df = df.drop('City', axis=1)

# If you run this cell multiple times you will get a "KeyError" as you are trying to 
# remove a column which no longer exists

df

   id first_name last_name  age  Birth Year
0   0     Daniel   Rickman   18        2005
1   1       Alan      Wake   38        1985
2   2       Niko    Bellic   47        1976

### Datetime values


In this section, we will cover the basics of working with datetime data, including parsing, formatting, and performing common operations on datetime values. Datetime data is usually tricky to work with but pandas makes it a lot easier.

To work with datetime data in pandas, you first need to parse the datetime values from strings into the appropriate datetime format. The **`pd.to_datetime()`** function is used for this purpose. 

Let us load a new dataset which contains datetime values and parse the column which contains dates.

In [16]:
df = pd.read_csv("temperatures.csv")

# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

df

                 Date      City  Temperature
0 2021-01-01 10:01:14     Paris            5
1 2021-02-01 11:10:55  New York            8
2 2021-03-01 11:30:11    London            8

Pandas provides convenient methods to extract specific components (e.g., year, month, day, hour, minute) from datetime values. You can use the **`.dt`** accessor followed by the component name.

In [18]:
# Extract the year, month, day, hour, minute and second from the 'Date' column
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Hour'] = df['Date'].dt.hour
df['Minute'] = df['Date'].dt.minute
df['Second'] = df['Date'].dt.second


df

,Date,City,Temperature,Year,Month,Day,Hour,Minute,Second
0,2021-01-01 10:01:14,Paris,5,2021,1,1,10,1,14
1,2021-02-01 11:10:55,New York,8,2021,2,1,11,10,55
2,2021-03-01 11:30:11,London,8,2021,3,1,11,30,11

As an exercise, do the following:

* Determine the maximum temperature measured.
* Determine the earliest and latest dates in the dataset.
* Determine how many days passed between the latest date and the earliest date (You can extract the `days` component from the difference between these dates. You do not need to use the **`.dt`** accessor.)

In [ ]:
# Insert your code here

### Lambda functions

Lambda functions, also known as anonymous functions, are small, one-line functions that do not require a formal definition. They are useful for performing quick operations without the need to define a separate function. In pandas, lambda functions can be used in conjunction with various DataFrame methods to transform and manipulate data efficiently.

```py
# Define a lambda function that returns the square of a number
function_square = lambda x: x**2

print(function_square(6))
>>> 36
```


To apply a lambda function to a DataFrame column, you can use the **`.apply()`** method. This method allows you to apply a function **element-wise** to each value in the column. Here's an example:

In [ ]:
df = pd.read_csv("student_grades.csv")

# Apply a lambda function to transform the
# grades from a scale of 1-100 to a scale of 1-20.

scaling_function = lambda x: x/100 * 20

df['Math_scaled'] = df['Math'].apply(scaling_function)
df['English_scaled'] = df['English'].apply(scaling_function)

# Usually, we write the lambda function inside the apply method call
df['Math_scaled'] = df['Math'].apply(lambda x: x/100 * 20)
df['English_scaled'] = df['English'].apply(lambda x: x/100 * 20)

df

Lambda functions can also be combined with **conditional statements** to perform conditional transformations on DataFrame columns. This allows you to apply different operations based on specific conditions. Here's an example:

In [ ]:
# Apply a lambda function with a conditional statement
df['Passed_Math'] = df['Math_scaled'].apply(lambda x: "Pass" if x>=10 else 'Failed')
df['Passed_English'] = df['English_scaled'].apply(lambda x: "Pass" if x>=10 else 'Failed')

df

Lambda functions can also be used with multiple `DataFrame` columns. For example, you can calculate a new column based on the values of two existing columns. Here's an example:

In [ ]:
df['Passed_Grade'] = df.apply(lambda row: "Pass" if row["Math_scaled"]>=10 and row["English_scaled"]>=10 else "Failed", axis=1)
df

Notice that we called the `.apply()` method directly on `df` and not a specific column. Also note that we passed the arguement **`axis = 1`** so that we tell the apply method to perform the transformation row-wise.

As an exercise, do the following:

* Load the data contained in the **`temperatures.csv`** file.

* Convert the "Date" column to datetime format using the `pd.to_datetime` function.

* Create a column named `"Europe_Date"` which reformats the `"Date"` column in the format **`"day/month/year"`**. For example the date `2021-02-01 11:10:55` should become `"01/02/2021"`. You can use the function `str(x)` to convert a number to a string and the `+` operator to concatenate strings together.

In [ ]:
# Insert your code here

### Missing values

In this section, we will cover the basics of identifying missing values, understanding the different types of missing data, and filling missing values using various techniques. Missing values are a common issue in real world data and they will generate errors in data engineering, data analysis or data science code if we do not handle them properly.

To begin, we need to identify missing values in a DataFrame. In pandas, missing values are commonly represented as NaN (Not a Number) or None. You can use the **`.isna()`** method to check for missing values in a DataFrame.

In [ ]:
df = pd.read_csv("missing_values_example.csv")
df

In [ ]:
df.isna()

We can now count the number of missing values in a given column.

In [ ]:
# Count the number of missing values in the "Math" column
df['Math'].isna().sum()

# Show the number of missing values for each column
df.isna().sum()

# Show the number of missing values for each row
df.isna().sum(axis = 1)

We can check the number of valid values in a Dataframe using the **`.info()`** method. It will show in the "Non-Null Count" column of its output.

In [ ]:
df.info()

To handle missing values, pandas provides several methods:

* **Dropping missing values**: Use the **`.dropna()`** method to remove rows or columns with missing values. By default, it drops any row with at least one missing value.

In [ ]:
df.dropna()

As you can see, **a lot of data was deleted!** We need to be very careful with this approach when working with real world data as we may lose too much data for the dataset to be useful.

* **Filling missing values**: Use the **`.fillna()`** method to replace missing values with a constant value.

In [ ]:
# Replace the missing values in the Math column with its mean
df['Math'] = df['Math'].fillna(df['Math'].mean())
df

This technique is often used when **training Machine Learning models** as we assume that filling the missing values with the mean or median should not disturb the distributions the models will train on (This is **fundamentally incorrect** but in practice it is useful).

As an exercise, do the following:

* Load the data contained in the **`"missing_values_exercise.csv"`** file.
* Fill the missing values in the `"English"` and `"Math"` columns using their means.
* Fill the missing values in the `"Grade"` column using the **`.mode()[0]`** command (most frequent value).

In [ ]:
# Insert your code here

# Part 3: Data Manipulation

### Filtering rows

Filtering rows in pandas is a fundamental operation in data manipulation. Pandas provides several methods to filter rows based on specific conditions, allowing us to extract the subset of data that meets our criteria. One commonly used method is using **boolean indexing** with the **`.loc[]`** accessor. 

```py
df = pd.read_csv("student_grades.csv")

# Select students whose Math grade is greater than 50.
df.loc[df['Math'] > 50]

# Select students whose Math grade is greater than 
# 50 and their English grade is greater than 80.
# We have to use the binary AND operator "&"
df.loc[(df['Math'] > 50) & (df['English'] > 80)]
```

In [1]:
df = pd.read_csv("student_grades.csv")

# Select students whose Math grade is greater than 50.
df.loc[df['Math'] > 50]

NameError: name 'pd' is not defined

In [ ]:
# Select students whose Math grade is greater than 
# 50 and their English grade is greater than 80.
# We have to use the binary AND operator "&"
df.loc[(df['Math'] > 50) & (df['English'] > 80)]

In [ ]:
# Fancier example:
# Select students whose name starts with the letter "A"
df.loc[df['Name'].apply(lambda x: x[0] == "A")]

As an exercise, do the following:

* Load the data contained in the **`"sales_data.csv"`** file.
* Extract the year from the `"sale_date"` column and store it in a new column **`"sale_year"`**.
* Calculate the total amount of a sale by **multiplying the `"quantity"` and `"unit_price"` columns with each other** and storing the result in a **`"total_sale_amount"`** column.
* Filter the rows to only include sales from the **most recent year**.
* Select sales records where `total_sale_amount` is greater than 300 for that year.

In [ ]:
# Insert your code here

### Group By operations

"Group By" operations are a powerful tool that allows you to group data based on one or more columns and perform various operations on those groups.

The **`.groupby()`** method splits the DataFrame into groups based on specified columns. Once we have grouped the data, we can apply various aggregation functions such as `.sum()`, `.mean()`, `.count()`, `.min()`, `.max()` and more to summarize the grouped data.

In [ ]:
df = pd.read_csv("salaries.csv")
df

In [ ]:
# Compute the average Salary by City
df.groupby("City")['Salary'].mean()

In [ ]:
# Get the average Age by City
df.groupby("City")['Age'].mean()

In [ ]:
# Get the maximum salary by City
df.groupby("City")['Salary'].max()

In [ ]:
# Get the average salary by City and Age
df.groupby(["City", "Age"])['Salary'].mean()

Besides aggregation, we can also apply **transformations** to grouped data. Transformations allow us to perform operations on each group and return a new DataFrame with the same shape as the original. For example, we can use the **`.apply()`** method to apply a custom function to each group. Here's an example:

In [ ]:
# Define a custom function to calculate the salary difference from the average
def salary_difference(group):
    group['SalaryDifference'] = group['Salary'] - group['Salary'].mean()
    return group

df.groupby("City").apply(salary_difference)

As an exercise, do the following:

* Load the data in the **`"student_grade_roworient.csv"`** file.

* Compute the average score for each student using a group by operation.

* Compute the average score for each subject using a group by operation.

In [ ]:
# Insert your code here

### Merging Data

Merging allows you to **combine multiple DataFrames based on common columns or indices**. Pandas provides the .merge() function to perform various types of merges, such as inner, outer, left, and right merges.

In [ ]:
from IPython.display import display

ages = pd.read_csv("ages.csv")
cities = pd.read_csv("cities.csv")

display(ages)

display(cities)

An **inner merge**, or inner join, returns only the matching rows from both DataFrames. It keeps only the records that have matching values in the specified columns or indices.

In [ ]:
# Merge the DataFrames based on the 'Name' column
merged_df = pd.merge(ages, cities, on='Name', how = "inner")
merged_df

An **outer merge**, or outer join, returns all the rows from both DataFrames. It combines the records from both DataFrames, filling in missing values with NaN (Not a Number) where no match is found.

In [ ]:
merged_df = pd.merge(ages, cities, on='Name', how = "outer")
merged_df

A **left merge**, or left join, keeps all the records from the left DataFrame and includes matching records from the right DataFrame. If there is no match, NaN values are filled in for the columns from the right DataFrame.

In [ ]:
# the left dataframe is ages
merged_df = pd.merge(ages, cities, on='Name', how = "left")
merged_df

A **right merge**, or right join, keeps all the records from the right DataFrame and includes matching records from the left DataFrame. If there is no match, NaN values are filled in for the columns from the left DataFrame.

In [ ]:
# the right dataframe is cities
merged_df = pd.merge(ages, cities, on='Name', how = "right")
merged_df

The choice of merge type depends on the specific requirements of the analysis or data integration task:
* Inner merge is commonly used to combine DataFrames when we only want the matching records and do not want to introduce missing values.
* Outer merge is useful when we want to include all records from both DataFrames, regardless of whether there is a match or not. * Left merge is used when we want to complement a given dataset with information from an other dataset. 
* Right merging is almost never used as it is equivalent to a left merge by swapping the order of the datasets we want to merge.

As an exercise, do the following:

* Load the data from the files **`"student_personal_data.csv"`** and **`"student_score_data.csv"`**.

* Merge the two datasets together using an **inner** merge based on their common column.

* Calculate the average score for each gender using a groupby operation.

* Compute the correlation between the ages and the scores. The formula for the correlation between two variables $X$ and $Y$ is given by:

$$ r = {\operatorname{E}(XY) - \operatorname{E}(X) \operatorname{E}(Y) \over \sigma_X\sigma_Y}$$

* Write the merged dataset to a CSV file named **`"merged_data.csv"`** using the following command :

```py
merged_df.to_csv("merged_data.csv", index = False)
```

This will write a new file with the dataset you have created. Try to load the merged data again to make sure it was saved properly.

In [ ]:
# Insert your code here

**Congratulations!** You have completed this course introducing the fundamental tools of data manipulation using pandas. You now know how load data, compute statistics, group data and perform aggregations, apply transformations and merge different dataframes together. These techniques are essential for data exploration and analysis, allowing you to gain insights into your datasets. Keep practicing and exploring pandas' documentation for more advanced applications of data manipulation!